// Colours
$clr-light: #ffffff;
$clr-accent: #a5a5a5;
$clr-header2: #343434;
$clr-google: #121212;
$clr-dark: #000000;

// Typography
$ff-serif-poppins: "Poppins", sans-serif;
$ff-serif-montserrat: "Montserrat", sans-serif;
$ff-serif-montserrat_alt: "Montserrat Alternates", sans-serif;

// Spacing
$space-xs: 1em;
$space-sm: 2em;
$space-md: 4em;
$space-lg: 6em;

// Breakpoints
$bp-tablet: 600px;
$bp-desktop: 1200px;
