@import "variables";
@import "mixins/screen";

/**
 * General Styling (including utils, etc)
*/

html,
body {
  height: 100%;

  > #root {
    height: 100%;
  }
}

.d-none {
  display: none;
}

.btn {
  @apply w-full max-w-[480px] py-3 flex items-center justify-center gap-2 bg-transparent border border-[#959595] text-app-dark font-poppins rounded-[3.125rem] cursor-pointer tracking-[0.05rem] text-base font-light;

  &:disabled {
    @apply cursor-not-allowed;
  }

  &--loading {
    @apply cursor-wait #{!important};
  }
}

.divider {
  @apply w-full my-[1px] flex items-center justify-center gap-4 px-3 text-accent font-light font-montserrat text-lg;

  &:before,
  &:after {
    @apply h-[2px] bg-[#cbcbcb] content-[''] w-full;
  }
}

.brand {
  &--alt {
    text-shadow: 2px 2px 4px rgba($clr-dark, 0.2);
  }
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .skill__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    max-width: 100%;
    height: 31px;
    border-radius: 30px;
    border: 1px solid $clr-dark-200;
    padding-inline: $space-sm;
    padding-block: $space-xs;
    gap: 6px;

    input[type="checkbox"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    &--selected {
      background-color: $clr-dark;
      color: $clr-light;
      animation: pulse 0.3s ease-in-out;
    }

    .checkmark {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: 1px dashed $clr-dark;
      font-size: 24px;
    }

    .text {
      white-space: nowrap;
    }
  }
}

.input-checkbox {
  $checkbox-size: 20px;

  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  max-width: 100%;
  min-height: $checkbox-size;
  font-family: $ff-serif-poppins;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    border-radius: 3px;
    border: 1px solid $clr-dark;
    filter: blur(0);
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .text {
    margin-left: calc($checkbox-size + $space-xs / 2);
  }

  input[type="checkbox"]:checked ~ .checkmark {
    background-color: $clr-dark;
    color: $clr-light;
    animation: pulse 0.3s ease-in-out;
  }
}

.input {
  $focus-color: $clr-dark;
  $error-height: $space-xs;
  $padding-space: 10px;

  position: relative;
  height: $form-child-height-md;
  width: 100%;
  font-size: 16px;
  padding-inline: $padding-space;
  font-family: $ff-serif-poppins;

  &.show-error {
    margin-bottom: $error-height;
  }

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: $padding-space;
  }

  &__icon--start,
  &__icon--end {
    display: flex;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &__control {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
    font-size: 14px;
    line-height: 1px;
  }

  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    transition: all 0.2s ease-out;

    &--active {
      background-color: $focus-color;
    }
  }

  &__error {
    position: absolute;
    bottom: -($error-height);
    left: 0;
    width: 100%;
    height: $error-height;
    color: $clr-red-100;
    animation: pulse 0.3s ease-in-out;
  }

  &--error {
    .input__bar {
      background-color: lighten($clr-red-100, 20%);
    }

    .input__bar--active {
      background-color: $clr-red-100 !important;
    }
  }

  &--focused {
    .input__label--active {
      transform: translateY(-25px);
      font-size: 12px;
      color: $focus-color;
    }

    .input__bar--active {
      background-color: $focus-color;
    }
  }

  &--value {
    .input__label--active {
      transform: translateY(-25px);
      font-size: 12px;
      color: $focus-color;
    }

    .input__bar--active {
      background-color: $focus-color;
    }
  }
}

.flex {
  display: flex;
}

.flex-space {
  flex: 1 1 auto;
}

@keyframes pulse {
  0% {
    filter: blur(2px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}
